(function($){
    <%if @cheer_list.length == 0%>
        alert("해당지역은 아직 응원전이네요! 후보들을 응원해 보세요!");
        $("#graph").empty();
        html = "<h1> 후보 응원 전입니다.</h1>"
        $("#graph").append();
    <%else%>
        $("#graph").empty();
        var html = "<%= escape_javascript(render(partial: 'homepage/graph', locals: {chlist: @cheer_list})) %>";
        $("#graph").append(html);
    <%end%>
})(jQuery)