<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.cards{
   display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}
.card {
 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 98%;
    height: 100%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}
</style>
</head>
<body>
<% 
case @parsed["hbjMap"][0]["SG_TYPECODE"]
when 3
  @code = "시·도지사선거"
when 4
  @code = "구·시·군의 장선거"
when 5
  @code = "시·도의회의원선거"
when 6
  @code = "구·시·군의회의원선거"
when 11
  @code = "교육감선거"
end%>
<h2><%=@code%> </h2>
<div class= "cards">
<% @parsed["hbjMap"].each do |i|%>
<% @photo="http://info.nec.go.kr/photo_20180613" + i["IMAGE_FILE"].to_s%>
<% @name= i["HBJNAME"].to_s%>
<% @party= i["JDNAME"].to_s%>
<% @link= "http://info.nec.go.kr/electioninfo/precandidate_detail_info.xhtml?electionId=0020180613&huboId=" + i["huboId"].to_s%>

<div class="card" >
     <figure class="card__thumbnail">
            <img src="<%=@photo%>" style="width:100%">
        </figure>
  <div class="container">
    <h4><b><%=@party%></b></h4> 
 <div class="mdl-card__actions mdl-card--border">
    <a href = <%=@link%> class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      후보 자세히 알아보기
    </a>
  </div>
  </div>
  </div>
</div>

<% end%>
</div>
</body>
</html> 











