<div>
    <h1>Destroy page</h1>
</div>

<form action='/dkdkdlwkd/dlqslek_des' method=post>
    <h3>
    시도 DB 삭제! 현재 <%= @sido_cnt %>개 저장되어 있음.
    <input type="hidden" name="target" value="sido">
         <input type='submit' value='삭 to the 제'> 
    </h3>
</form>    
<form action='/dkdkdlwkd/dlqslek_des' method=post>
    <h3>
    구시군 DB 삭제! <%= @gsg_cnt %>개 저장되어 있음.
    <input type="hidden" name="target" value="gsg">
         <input type='submit' value='내 맘속에서 Get out!'> 
    </h3>
</form>    
<form action='/dkdkdlwkd/dlqslek_des' method=post>
    <h3>
    읍면동 DB 삭제! <%= @emd_cnt %>개 저장되어 있음.
    <input type="hidden" name="target" value="emd">
         <input type='submit' value='님아 잠시 안녕!'> 
    </h3>
</form>

지울때 순서는 읍면동 1빠 / 구시군 2빠 / 시도가 3빠임.<br/>
포린키 때매 그런거임. 에러 잡기 <br/> <br/>

<a href="/db/mainpage">[메인 페이지로 가기]</a>