<div>
    <h1>"Emd Save Complete"</h1>
    <h2>list</h2>
    <% @glist.each do |f| %>
        <h2><%=f%></h2>
    <% end %>
    <h2>nil list</h2>
    <% @nilist.each do |f| %>
        <h2><%=f%></h2>
    <% end %>
    <h2>nil code list</h2>
    <% @clist.each do |f| %>
        <h2><%=f%></h2>
    <% end %>
</div>