# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 435ce6060190323cd64f925cd264ffaf4b57dc61ead8f47c98c568fdc0f4c882589968495ab3624ce3a0f454c51a69db822ecc51253aaf3062ec61321ede9c46

test:
  secret_key_base: df6b7fefddcb25466e6597ac5e3435255ebbf1a973f1fc80db8b191e42bd9074265d76644038ad8a8bb38e877a3f47caa1809f052fe85fcd09d075ee5a7128f7

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
